[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hours2lessons"]
	path = hours2lessons
	url = https://github.com/cran/hours2lessons
